 tr, th {

    border: 1px solid #999;
    padding: 0.5rem; 
    cursor: pointer;
    
}
table {
  
    border-spacing: 0.5rem;
    
}
td {
  padding: 0.5rem;
}

tr:nth-child(1) { background: hsl(150, 50%, 50%); }
tr:nth-child(2) { background: hsl(160, 60%, 50%); }
tr:nth-child(3) { background: hsl(170, 70%, 50%); }
tr:nth-child(4) { background: hsl(180, 80%, 50%); }
tr:nth-child(5) { background: hsl(190, 90%, 50%); }
tr:nth-child(6) { background: hsl(200, 99%, 50%); 
    
    
}
body {
    height: 800px;
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow, green);
}
h1 {
    color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 50px;
  text-align: center;
  
}
div {
    border: 1px solid #999;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 20%;
    box-sizing: initial;
    background-color: lightcyan;
    transition: 0.1ms
    
    

}
.unique {

    background-color: lightpink;
    transition: 0.5s;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gili  {
    background-color: lightpink;
    transition: 0.5s;
    margin-top: 20px;
    
}